body {
    background-color: var(--color-one);
}

header .logo,
.icon {
    padding: 10px;
    background: var(--color-two);
    border-radius: var(--border-radius-one);
}

.btn-link {
    border-radius: var(--border-radius-one);
    background: var(--color-two);
}

.floating {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hr-section {
  border-top: 1px solid var(--color-two);
}

.hr-bottom {
  border-bottom: 1px solid var(--color-two);
}

.card {
    border: 1px solid var(--color-two);
    border-radius: var(--border-radius-one);
}

.icon {
    width: 50px;
}

footer {
  background-color: var(--color-three);
}

.section-gradient {
  background-color: var(--color-four);
}


div.privacyPolicy div.bd,
div.termsUse div.bd,
div.login div.bd,
div.register div.bd {
  border: 1px solid var(--color-two);
  border-radius: var(--border-radius-one);
  background-color: var(--color-four);                                
}

.bd-solid {
  border: 1px solid var(--color-two);
  border-radius: var(--border-radius-one);
}